{% load static %}
{% load i18n %}
{% load include_if_exists %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as TEST %}
{% load menu %}
{% generate_menu %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% include_if_exists 'base/site_title.html' %}
    </title>

    {% include_if_exists 'base/site_html_head.html' %}

    <link href="{% static 'uil.core/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'uil.core/css/bootstrap-grid.min.css' %}" rel="stylesheet" />
    <link href="{% static 'uil.core/css/fonts.css' %}" rel="stylesheet" />
    <link href="{% static 'uil.core/css/uu-style.css' %}" rel="stylesheet" />
    <link href="{% static 'uil.core/css/datatables.min.css' %}" rel="stylesheet" />
    <link href="{% static 'uil.core/css/select2.css' %}" rel="stylesheet" />
    <link href="{% static 'uil.core/css/in.css' %}" rel="stylesheet" />
    <script src="{% static 'uil.core/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'uil.core/js/popper.min.js' %}"></script>
    <script src="{% static 'uil.core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'uil.core/js/datatables.min.js' %}"></script>
    <script src="{% static 'uil.core/js/select2.min.js' %}"></script>
    <script src="{% static 'uil.core/js/common.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="container">
        <div class="container-fluid uu-container hide-xs toppanel">
            <div class="uu-inner-container ">
                <div class="col-xl-3 col-md-3 col-12">
                    <div class="uu-logo">
                        {% with 'uil.core/images/logo-header-'|add:LANGUAGE_CODE|add:'.svg' as header_image %}
                            <a href="https://www.uu.nl">
                                <img src="{% static header_image %}" alt="{% trans 'uil.core:uu' %}" title="{% trans 'uil.core:uu' %}" />
                            </a>
                        {% endwith %}
                    </div>
                </div>
                <div class="col-8">
                    <!--filler-->
                </div>
                <div class="col-1 language">
                    <form method="post" action="{% url 'set_language' %}" class="inline">
                        {% csrf_token %}
                        {% if LANGUAGE_CODE == 'nl' %}
                            <input type="hidden" name="language" value="en">
                            <button type="submit" name="submit_param" value="submit_value" class="language-button">
                                {% trans 'lang:en' %}
                            </button>
                        {% else %}
                            <input type="hidden" name="language" value="nl">
                            <button type="submit" name="submit_param" value="submit_value" class="language-button">
                                {% trans 'lang:nl' %}
                            </button>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid uu-container hide-xs">
            <div class="uu-inner-container">
                <div class="col-9 titletext">
                    <a href="{{ request.META.HTTP_NAME }}">
                        {% include_if_exists 'base/site_header.html' %}
                    </a>
                </div>
                <div class="col-3 loginheader">
                    {% include_if_exists 'base/login_header.html' %}
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-expand-md uu-navigation-bar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="uu-logo show-xs">
                <img src="{% static 'uil.core/images/logo-header-nl.svg' %}" alt="{% trans 'uil.core:uu' %}" title="{% trans 'uil.core:uu' %}" />
            </span>
            {% include 'base/mainmenu.html' %}
        </nav>
        <div class="container-fluid uu-container">
            {% if messages %}
                <div class="uu-inner-container">
                    <div class="col-12">
                        <div id="messages">
                            <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <footer class="container-fluid uu-container">
            <div class="uu-inner-container">
                <div class="col-10">
                    {% with 'uil.core/images/logo-footer-'|add:LANGUAGE_CODE|add:'.svg' as header_image %}
                        <img src="{% static header_image %}" alt="{% trans 'uil.core:uu' %}" title="{% trans 'uil.core:uu' %}" />
                    {% endwith %}
                </div>
                {% include 'base/footermenu.html' %}
            </div>
        </footer>
    </div>
</body>
</html>