{% load i18n %}

<div class="nav-container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if menus.home %}
                {% with menus.home.0 as home %}
                    <li class="nav-item {% if home.selected %}active{% endif %}">
                        <a class="nav-link" href="{{ home.url }}">
                            <span class="icon-additional-home"></span>&nbsp;
                            <span class="home-text">
                                {{ home.title }}
                            </span>
                        </a>
                    </li>
                {% endwith %}
            {% endif %}
            {% for item in menus.main %}
                <li class="nav-item {% if item.selected %}active{% endif %} {% if item.children %}dropdown{% endif %}">
                    <a
                            class="nav-link {% if item.children %}dropdown-toggle{% endif %}"
                            href="{{ item.url }}"
                            {% if item.children %}
                                id="{{ item.slug }}"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            {% endif %}
                            {% if item.open_in_new_tab %}
                                target="_blank"
                            {% endif %}
                    >
                        {{ item.title }}
                    </a>
                    {% if item.children %}
                        <div class="dropdown-menu" aria-labelledby="{{ item.slug }}">
                            {% for child in item.children %}
                                <a
                                        class="dropdown-item"
                                        href="{{ child.url }}"
                                        {% if child.open_in_new_tab %}
                                            target="_blank"
                                        {% endif %}
                                >
                                    {{ child.title }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>