{% load i18n %}

<div class="nav-container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if menus.home %}
                {% with menus.home.0 as home %}
                    <li class="nav-item {% if home.selected %}active{% endif %}">
                        <a class="nav-link" href="{{ home.url }}">
                            <span class="icon-additional-home"></span>&nbsp;
                            <span class="home-text">
                                {{ home.title }}
                            </span>
                        </a>
                    </li>
                {% endwith %}
            {% endif %}
            {% for item in menus.main %}
                <li class="nav-item {% if item.selected %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>