Django>=4.0,<4.1
requests
PyJWT
pip-tools
cryptography
djangorestframework
pyscss
lesscpy
closure
vbuild
python-magic
django-braces
django-modeltranslation
django-impersonate
django-simple-menu
django-debug-toolbar
django-csp
django-extensions
mysqlclient
Deprecated
sphinx
sphinx_rtd_theme
sphinxcontrib-apidoc
sphinxcontrib-django2
