Django>=3.2,<3.3
requests
PyJWT
pip-tools
cryptography
djangorestframework
pyscss
lesscpy
closure
vbuild
python-magic
django-braces
django-modeltranslation
django-impersonate
django-simple-menu
django-debug-toolbar
django-csp
django-extensions
mysqlclient
