### Django ###
*.log
*.pot
*.pyc
*.mo
*.sqlite3
__pycache__/

### Project-specific ###
media/
cdh_files/

### Secrets ###
dev_project/integration_platform_settings.py

### Virtual environments ###
venv
env
.env

### IDE ###
.idea
