Django>=3.2,<3.3
django-braces
django-modeltranslation
django-impersonate
django-simple-menu
django-debug-toolbar
django-csp
django-extensions
cryptography # Not needed if not using encrypted DB fields
pip-tools
mysqlclient
cryptography
pyscss
lesscpy
closure
vbuild
requests
PyJWT
djangorestframework
python-magic
