{% extends "base/base.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}

{% block html_head %}
<link href="{% static 'questions/questions.css' %}" rel="stylesheet" />
<link href="{% static 'questions/prereg.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="uu-inner-container">
<div class="col-8 gt-left">
    <div class="col-12">
        <h3>Title: {{object.title}}</h3>
            <p>This is a default overview page for blueprints, designed for prototyping and debugging.</p>

            <h2>Primary questions</h2>
            <p>Questions considered primary relate to the primary model of the blueprint, of which there is only one.</p>
            {% for question in primary_questions %}
            {% display_question question %}
            {% endfor %}
            <br />
            <h2>Submodels</h2>
                <p>These are all submodels associated with this preregistration</p>
                {% for question in subquestions %}
                {% display_question question %}
                {% endfor %}
                <div class="gt-right question-buttons">

                    <a href="{{new_url}}" class="button">Create</a>


                </div>
                <h3>Debug info</h3>
                <p>{{blueprint}}</p>
        </div>
    </div>
</div>

{% endblock %}
