{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col-1 language">
    <form method="post" action="{% url 'set_language' %}" class="inline language-form">
        {% csrf_token %}
        {% if LANGUAGE_CODE == 'nl' %}
            <input type="hidden" name="language" value="en">
            <button type="submit" name="submit_param" value="submit_value" class="language-button">
                {% trans 'lang:en' %}
            </button>
        {% else %}
            <input type="hidden" name="language" value="nl">
            <button type="submit" name="submit_param" value="submit_value" class="language-button">
                {% trans 'lang:nl' %}
            </button>
        {% endif %}

    </form>
</div>