{% extends 'base/base.html' %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>Digital Identity API - Simple test</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-12">
            <p>
                NOTE: this functionality is still broken
            </p>
            <form method="post" class="uu-form uu-form-no-gap uu-form-no-help">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary mt-3">
                    Save
                </button>
            </form>
        </div>
    </div>
{% endblock %}
