.field-table table tbody tr {
  /*all: revert;*/
}

table {
  width: 100%;
}

th {
  padding: 1rem;
}
td {
  all: revert;
  padding: 1rem;
}

table-openstaand {
  all: revert;
}

.gt-container {
  margin-top: 3rem;

}

.gt-progress {
  margin-bottom: 2rem;
  border-bottom: 3px solid transparent;
}

.gt-progress.current {
  border-bottom: 3px solid yellow;
}


.gt-progress h3 {
  display: inline-block;
}

.gt-percent {
  float: right;
  margin-top: 5px;
  color: gray;
}

.gt-container {
  min-height: 900px;
}

.gt-right {
  float:right;
  margin-right: 2rem;
}

.gtph {
  min-height: 250px;
}

.gt-left h3 {
  margin-top: 2rem;
}

.gt-left h2 {
  margin-top: 3rem;
}

.picker-links a {
  display: block;
  margin-left: 2rem;
  line-height: 2;
}

.picker-links {
  border-right: 1px solid lightgray;
  min-height: 80px;
  text-align: right;
}

.picker {
}

section ul {
  padding-bottom: 2rem;
  color: maroon;
}

section {
  border-left: 3px solid yellow;
  border-top: 3px solid yellow;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

section p {
  margin-left: 2rem;
}

section p strong {
  padding-right: 1rem;
}

section h4 {
  margin-left: 1rem;
}

section .comment {
  background-color: #e8f8ff;
  display: block;
  margin-left: 0px;
  margin-top: 1rem;
  border-left: 0px;
  border: 0px;
  padding-left: 1rem;
  max-width: 80%;
}

.error-infobox {
  margin: 10px;
  padding: 1rem;
  text-align: center;
}

.infobox {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;}

.error {
  background-color: lightyellow;
  border: 1px solid orange;
}

.comment {
  background-color: aliceblue;
  border: 1px solid blue;
}

.pmf-buttons {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.pmf-buttons a.button {
  margin-left: 1rem;
}

.field-table {
  width: 100%;
  margin-top: 2rem;
}

.field-table table {
  width: 100%;
}

.field-table {
  all: revert;
}


.field-table table tbody tr {
  all: revert;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.comment tr {
  padding-left: 3rem;
}

.comment-author {
  padding-left: 3rem;
}
