/* UU  */
body {
    background: rgb(246, 246, 246);
    font-family: "Open Sans","Frutiger",Helvetica,Arial,sans-serif;
    color: rgb(33, 37, 41);
}

p {
    line-height: 1.4; /* Override paragraph for better readability */
}

label {
    margin-bottom: 0;
}

h1, h2{
    font-size: 2rem;
}

/* Structural */
#container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.uu-container {
    padding-top: 10px;
    padding-bottom: 5px;
    background: #fff;
}

.uu-inner-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Top panel */

.uu-container.toppanel
{
    padding: 0;
    border-bottom: 1px solid #efefef;
}

.uu-container.titlepanel
{
    padding: 0;
}

@media (max-width: 767px) {
    .titletext
    {
        display: none;
    }
}

.language {
    border-left: 1px solid #efefef;
    line-height: 68px;
}

.uu-logo {
    padding: 10px 0;
}

.uu-logo img
{
    height: 48px;
}

.titletext {
    font-size: 30px;
    line-height: 44px;
    box-sizing: content-box;
    color: #094D8E;
    text-decoration: none;
    font-family: "Open Sans","Frutiger",Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: 3px 0 0;
}

.titletext a, .titletext a:hover {
    color: #094D8E;
    text-decoration: none;
    padding: 0 15px;
}

.loginheader {
    line-height: 54px;
    font-size: 14px;
    text-align: right;
}

/* Navigation */

.uu-navigation-bar {
    text-align: left;
    display: block;
    width: 100%;
    background-color: #000000;
    padding: 3px 0;
}

.uu-navigation-bar .nav-item a {
    color: #fff;
    text-decoration: none;
}

.uu-navigation-bar .active a,
.uu-navigation-bar .nav-item a:hover {
    color: #FFCD00;
}


.home-text {
    display: none;
}

.icon-additional-home:before {
    content: "H";
}

.disabled-icon {
    color: #aaa;
    cursor: not-allowed;
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .home-text {
        display: inline;
    }
}

.navbar-toggler {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat center center;
}

@media (max-width: 767px) {

    .navbar-toggler {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .uu-logo img {
        height: 30px;
    }

    .nav-container {
        padding: 0;
    }

    .uu-navigation-bar {
        text-align: left;
        display: block;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #bbb;
    }

    .uu-navigation-bar .nav-item {
        background: #000;
        padding: 5px 10px;
        border-top: 1px solid #bbb;
    }

    .uu-navigation-bar .active {
        color: #FFCD00;
    }
}

/* Footer */

footer.container-fluid {
    background: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer.container-fluid .col-12 img {
    height: 73px;
}

footer a {
    color: #aeaeae;
}

@media (max-width: 768px) {

    footer.container-fluid .col-12 img {
        height: 50px;
    }

}

/* Misc */
.hide-xs {
    display: inherit;
}

.show-xs {
    display: none;
}


@media (max-width: 767px) {

    .hide-xs {
        display: none;
    }

    .show-xs {
        display: inline;
    }
}

/* Input styles */

form > table th {
    padding-left: 10px;
    vertical-align: middle;
}

input, textarea, select {
    border-radius: 0;
    border: 1px solid #d7d7d7;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 16px;
    width: 400px;
}

input[type=submit], input[type=button], button, .button {
    background: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 0 20px;
    line-height: 42px;
    width: auto;
    min-width: auto;
    cursor: pointer;
    display: inline-block;
}

input[type="checkbox"], input[type="radio"]
{
     width: auto;
}

button[type=submit], input[type=submit], .button-colored {
    background: #ffcd00;
    color: #000000;
}

button[type=submit].button-black, input[type=submit].button-black {
    background: #000;
    color: #fff;
}

button a, .button a,
button a:hover, .button a:hover {
    color: #fff;
    text-decoration: none;
}

.button-colored a,
.button-colored a:hover {
    color: #000;
}


button.language-button {
    color: #787878;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    font-size: 12px;
    background: transparent;
}

form label {
    display: block;
}

form .select2-container {
    width: 400px;
}

form td ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 870px) {

    form table tr {
        width: 100%;
        display: block;
    }

    form table th, form table td {
        display: block;
        width: 100%;
    }

    input {
        width: 100%;
    }

    input[type="checkbox"], input[type="radio"]
    {
         width: auto;
    }
}

.select2-search input {
    min-width: auto;
}

.errorlist {
    color: red;
}

.small-form input, .small-form textarea, .small-form select {
    min-width: 300px;
    width: 300px;
}

.oneline-form label {
    display: inline-block;
    margin-right: 5px;
}
.oneline-form input {
    width: auto;
}

/* Table styles */
table thead th {
    border-bottom: 1px solid #ccc;
}

table tfoot th {
    border-top: 1px solid #ccc;
}

table tbody tr:nth-of-type(odd) {
    background: #eee;
}

table tbody tr:hover {
    background: #ddd;
}

table tbody tr.no-background:hover, table tbody tr.no-background {
    background: transparent;
}

table tbody td, table thead th, table tfoot th {
    padding: 6px 5px;
}

/* Link styles */
a {
    color: rgb(33, 37, 41);
    text-decoration: underline;
    transition: 0.2s ease color;
}

a:hover {
    transition: 0.2s ease color;
    color: rgb(85, 85, 95);
}

/* Bootstrap/DataTables overrides */
.form-control {
    border-radius: 0;
    border: 1px solid #d7d7d7;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 12px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #d7d7d7;
}

/* This makes sure the x items per page dropdown displays correctly */
div.dataTables_wrapper div.dataTables_length select {
    min-width: auto;
    padding: 0 15px 0 10px;
}

.pagination .page-item {
    color: inherit;
    border-radius: 0;
}

.pagination .page-link {
    color: inherit;
    border-radius: 0;
    text-decoration: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 0;
}

.pagination .page-item.active .page-link {
    background: #000;
    color: #fff;
    border-color: #000;
}

.dt-buttons {
    display: inline-block;
    float: left;
}

.dt-button {
    line-height: 30px;
    padding: 0 10px
}

.dataTables_wrapper .btn {
    border-radius: 0;
    background: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 0 10px;
    line-height: 32px;
    width: auto;
    cursor: pointer;
}

.dataTables_wrapper .dropdown-menu {
    padding: 0;
    border-radius: 0;
    min-width: 134px;
}

.dataTables_wrapper .dropdown-menu .dropdown-item {
    text-decoration: none;
}

.dataTables_wrapper .dropdown-menu .dropdown-item.active,
.dataTables_wrapper .dropdown-menu .dropdown-item:active {
    background: #000;
    color: #fff;
}

.dataTables_wrapper .dropdown-menu .dt-button-collection-title {
    padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

/* Fix for search bar not display properly when the table is wrapped in a form*/
form .dataTables_filter > label {
    display: inline-block;
}


/* Messages */

ul.messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

div#messages {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: #094D8E;
    color: #ffffff;
}

ul.messages a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.2s ease color;
}

/* qTip */
.qtip-default {
	border: 1px solid #d7d7d7;

	background-color: #fff;
	color: #333;
}


/* Bootstrap DateTime picker */
/* Fixes the fact that our table styles apply to the picker. */
.datetimepicker tr, .datetimepicker tr:nth-of-type(odd), .datetimepicker tr:hover {
    background: #fff;
}

/** Panel **/
.uu-panel > .panel {
    margin-bottom: 15px;
}

.uu-panel .panel-heading {
    background: #ffcd00;
    padding: 10px 30px 2px; /* .panel-title has a bottom margin of 8px */
}

.uu-panel .panel-heading a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.uu-panel .panel-heading a::after {
    font-family: 'icomoon-additional';
    content: "\E612";
    font-size: 10px;
    float: right;
    display: inline-block;
    text-indent: 0;
    padding: 6px 0;
}

.uu-panel .panel-heading a.collapsed::after {
    content: "\E611";
}

.uu-panel .panel {
    border: 1px solid #efefef
}

.uu-panel .panel-body {
    padding: 15px 40px 5px 40px
}