{% if segment.type == "left_right" %}
<div class="row picker">
    <div class="col-4 picker-links">
        {{ right_side }}
    </div>
    <div class="col-8">
        {{ left_side }}
    </div>



</div>
{% elif segment.type == "subheader" %}
<h4>{{subheader}}</h4>
<hr />
{% elif segment.type == "paragraph" %}

<p>{{paragraph}}</p>

{% elif segment.type == "form_field" %}
<div class="row picker">
    <div class="col-4 picker-links">
        <p>
            {{ segment.field.label }}
        </p>
        <p>
            {{segment.sub_label}}
        </p>
    </div>
    <div class="col-8">
        {% if editing %}
        {{ segment.field }}
        {% else %}
        {{ segment.field.value }}
        {% endif %}
        <p></p>
    </div>



</div>

{% elif segment.type == "comments" %}


<hr />
<span class="gt-right">(verberg)</span>
<h4>Comments (2)</h4>
<p class="comment"><strong>Jan de Bruijn:</strong>
    Ziet er goed uit, alleen tabel 5 nog even updaten naar de nieuwste cijfers</p>
<p class="comment"><strong>Arno de Vries (A):</strong>
    Gebeurd! ({{is_editable}})
</p>

{% else %}
<p> {{segment.type}} </p>
{% endif %}
