{% extends 'base/base.html' %}

{% block header_title %}
    CSS Test form - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-container">
        <div class="col-8">
            <h1>Custom form template</h1>
            <p>Note: this required Django 4+</p>
        </div>
    </div>
    <form method="post" class="w-100" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="uu-container">
            <div class="col-8">
                <hr>
                <input type="submit" class="btn btn-primary" value="Volgende stap >" >
            </div>
        </div>
    </form>
    <br/>
{% endblock %}
