<div class="uu-form-row">
  <div class="uu-form-field">
    <label class=uu-form-field" for="id_{{segment.field.name}}">
      {{ source_question.label }}
    </label>
    {% for iq in source_question.get_instances %}
      {% with item=iq.instance %}

        <div class="form-control d-flex flex-row">
          <div style="flex-grow: 1; flex-shrink: 0;">
            <strong>{{item.name}}</strong>
            <br />{{item.co_investigator}}</div>
            {% if editing %}
              <div style="flex-shrink: 1;" class="btn-group">
                <a class="btn btn-primary" href="{{iq.get_edit_url}}">edit</a>
                <a class="btn btn-secondary" href="{{iq.get_delete_url}}">delete</a>
              </div>
            {% endif %}
        </div>

      {% endwith %}
    {% endfor %}
    {% if editing %}
      <a href="{{create_url}}" style="text-decoration: none;">

        <div class="form-control btn btn-tertiary">
          Add item...
        </div>
    </a>
      {% endif %}
  </div>



</div>
