{% load question_tags %}

{% if segment.type == "left_right" %}
<div class="row segment">
    <div class="col-4 uil-segment-left">
        {{ right_side }}
    </div>
    <div class="col-8 uil-segment-right">
        {{ left_side }}
    </div>



</div>
{% elif segment.type == "subheader" %}
<h4>{{subheader}}</h4>
<hr />

{% elif segment.type == "paragraph" %}
  <div class="uu-form-text-row">
    <div class="uu-form-text">
      {{paragraph}}
    </div>
  </div>

{% elif segment.type == "form_field" %}
  <div class="uu-form-row">
    <div class="uu-form-field">
      <label class="form-label d-block" for="id_{{segment.field.name}}">
        {{ segment.field.label }}
      </label>
      {% if editing %}
        {{ segment.field }}
      {% else %}
        <div class="form-control">
          {{ value }} &nbsp;
        </div>
      {% endif %}
    </div>
  </div>

{% elif segment.type == "comments" %}


{% elif segment_type == "list_of_questions" %}
  {% display_loq source_question editing=editing %}

{% else %}
  <p> {{segment.type}} ~henlo~ </p>
{% endif %}
