{% extends "base/base.html" %}

{% load static %}
{% load i18n %}
{% load question_tags %}

{% block html_head %}
<link href="{% static 'questions/questions.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="uu-inner-container">
<div class="col-8 gt-left">
        <div class="col-12">
        <h2>Editing a question</h2>
            <p>This page facilitates both the creation and editing of Questions.</p>

            <br />
            {% ask_question form %}
            <br />
        </div>
    </div>
</div>

{% endblock %}
